<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}"/>
    <title>{% block title %}eLearning - WebApp{% endblock %}</title>
</head>
<body>
    <div>
        <p>
            <span style="float: right">
                {% if user.is_authenticated %}
                    <a href="{% url 'myapp:logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'myapp:login' %}">Login</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{% url 'myapp:register' %}">Register Here</a>
                {% endif %}
            </span>
       </p>
        <h1>
            {% block myhdg %}
                Hello
                {% if user.is_authenticated %}
                    {{ user.first_name }}
                {% else %}
                    Group - 11
                {% endif %}
            {% endblock %}
        </h1>
        {% block body_block %} *** {% endblock %}
    </div>
    <hr />
    <div>
        {% block links %}
            <ul>
                <li class="hbar1"><a href="{% url 'myapp:findcourses' %}">Find courses</a></li>
                <li class="hbar1"><a href="{% url 'myapp:about' %}">About Us</a></li>
                <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
            </ul>
        {% endblock %}
    </div>
</body>
</html>