{% extends 'myapp/base.html' %}

{% block title %}
    Edit
{% endblock %}

{% block body_block %}
    <form action="{% url 'myapp:edit' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            {% if student.profile_image %}
                <img src="{{ student.profile_image.url }}">
            {% endif %}
        </p>
        <input type="submit" value="Save Changes" />
    </form>
{% endblock %}

{% block links %}
    <ul>
        <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
    </ul>
{% endblock %}