{% extends 'myapp/base.html' %}

{% block title %}
    Index
{% endblock %}

{% block body_block %}
    <p class="font-italic">
    {% if request.session.last_login %}
        {{ request.session.last_login }}
    {% else %}
        The last login was more than one hour ago
    {% endif %}
    </p>
    {% if top_list %}
        <h2>List of Topics</h2>
        <ol>
            {% for top in top_list %}
                <li><a href="{% url 'myapp:detail' top.id %}">{{ top.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available topics!</strong>
    {% endif %}
{% endblock %}
