{% extends 'myapp/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body_block %}
    <form action="{% url 'myapp:login' %}" method="post">
        {% csrf_token %}
        <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required />
        </p>
        <input type="submit" name="submit1" value="Submit" />
    </form>
{% endblock %}

{% block links %}
    <ul>
        <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
    </ul>
{% endblock %}