{% extends 'myapp/base.html' %}

{% block title %}
    MyAccount
{% endblock %}

{% block body_block %}
    {% if topics_interested %}
        <p>Topics Interested:</p>
        <ul>
            {% for topic in topics_interested %}
                <li>
                {{ topic.name }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if orders %}
        <p>Orders:</p>
        <ul>
            {% for order in orders %}
                <li>
                {{ order.detail }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block links %}
    <ul>
        <li class="hbar1"><a href = "{% url 'myapp:index' %}">Click here to return to main page</a><br/></li>
    </ul>
{% endblock %}
